header{width: calc(100% - 100px); height: 80px; padding: 20px 50px; background-color: #456852;
    >h1{width: 120px; height: 80px; float: left; background-color: #943571;}
    >button{display: none;}
    >.main_menu{width: 450px; height: 80px; float: right; background-color: #123456;}
}